.menu {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.menu__header {
  display: none;
}

.menu__list {
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    margin: auto;
}

.menu__item {
  margin-right: 20px;
}

.menu__item a {
  text-decoration: none;
  color: black;
}

.text{
    font-size: 13px;

    &--uppercase{
        text-transform: uppercase;
    }
}

/* Адаптивные стили */
@media (max-width: 1450px) {
  .menu__header {
    display: flex;
	align-items: center;
  }

  .menu__list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu__list--open {
    display: flex;
  }

  .menu__item {
    margin: 10px 0;
  }

  .menu__toggle {
    font-size: 24px;
    background: none;
    border: none;
	color: white;
    cursor: pointer;
  }
  .menu__icon {
	width: 37px;
    fill: white;
    cursor: pointer;
  }
}