.menu {
	display: flex;
	align-items: center;
	padding: 0 50px;
	&__nav{
		display: flex;
		color: white;
		gap: 50px;
	}

	&__link{
		text-decoration: none;
		&--gray {
			color: #999999;
		}
	}

	&__toggler {
		display: flex;
		align-items: center;
		background: none;
		border: none;
	}

	&__icon {
		width: 37px;
		fill: white;
		cursor: pointer;
	}

	&__content {
		margin-top: 68px;
		padding: 0px 20px;
			@media (max-width: 768px) {
				margin-top: 41px;
			}
	}

	&__mobile {
		color: white;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 100px;
		display: inline-table;
	}
	&__background {
		display: inline-table;
		background-color: #000000e6;
		width: 100%;
		height: 100%;
	}

	&__container {
		display: flex;
		align-items: flex-start;
			@media (max-width: 768px) {
				display: block;
			}
	}

	&__image {
		display: block;
		flex: 0 0 auto;
		margin-right: 20px;
			@media (max-width: 768px) {
				display: none;
			}
	}

	&__image-mobile {
		display: none;
			@media (max-width: 768px) {
				display: block;
			}
	}

	&__rows {
		flex: 1;
		margin-left: 75px;
			@media (max-width: 768px) {
				margin-top: 39px;
			}
	}

	&__position-image {
		margin-right: 38px;
	}

	&__title {
		font-size: 13px;
	}

	&__text {
		font-size: 20px;
	}

	&__hot {
		display: flex;
		align-items: center;
	}
}

.mb-21 {
	margin-bottom: 21px;
}

.mb-15 {
	margin-bottom: 15px;
}

.pl-0 {
	padding-left: 0;
}

.text-uppercase {
	text-transform: uppercase;
}
