<div class="d-flex">
    <h1 class="title">Корзина</h1>
    <h2 class="subtitle">5шт</h2>
</div>
<div class="d-flex gap-2">
    <p class="text">Главная</p>
    <p class="text">/</p>
    <p class="text text--gray">Корзина</p>
</div>
<div class="menu">
    <div class="menu__name-position">
        <p class="menu__text span-1">Блюдо:</p>
        <p class="menu__text span-2">Цена:</p>
        <p class="menu__text span-3">Кол-во:</p>
        <p class="menu__text span-4">Сумма:</p>
    </div>
    <div class="slot">
        <img src="../../assets/menu1.png" alt="">
        <div class="slot__info-dish">
            <p class="slot__name-dish">Хачапури по-аджарски</p>
            <p class="slot__gram-dish">80г</p>
        </div>
        <p class="slot__sum">425 ₽</p>
        <div class="quantity-selector">
            <span class="quantity">1 шт</span>
        </div>
        <p class="slot__sum span-11">425 ₽</p>
        <button class="red-square-button"></button>
    </div>
    <div class="slot">
        <img src="../../assets/menu2.png" alt="">
        <div class="slot__info-dish">
            <p class="slot__name-dish">Ланч низкокалорийный</p>
            <p class="slot__gram-dish">80г</p>
        </div>
        <p class="slot__sum">525 ₽</p>
        <div class="quantity-selector">
            <span class="quantity">2 шт</span>
        </div>
        <p class="slot__sum span-11">1050 ₽</p>
        <button class="red-square-button"></button>
    </div>
    <div class="slot">
        <img src="../../assets/menu3.png" alt="">
        <div class="slot__info-dish">
            <p class="slot__name-dish">Хинкали жаренные</p>
            <p class="text text--gray">Из баранины с тархуном</p>
            <p class="slot__gram-dish">80г</p>
        </div>
        <p class="slot__sum">115 ₽</p>
        <div class="quantity-selector">
            <span class="quantity">6 шт</span>
        </div>
        <p class="slot__sum span-11">690 ₽</p>
        <button class="red-square-button"></button>
    </div>
    <div class="slot">
        <img src="../../assets/menu4.png" alt="">
        <div class="slot__info-dish">
            <p class="slot__name-dish">Оджахури из телятины</p>
            <p class="slot__gram-dish">80г</p>
        </div>
        <p class="slot__sum">355 ₽</p>
        <div class="quantity-selector">
            <span class="quantity">1 шт</span>
        </div>
        <p class="slot__sum span-11">355 ₽</p>
        <button class="red-square-button"></button>
    </div>
    <div class="slot">
        <img src="../../assets/menu5.png" alt="">
        <div class="slot__info-dish">
            <p class="slot__name-dish">Долма</p>
            <p class="text text--gray">С бараниной</p>
            <p class="slot__gram-dish">80г</p>
        </div>
        <p class="slot__sum">490 ₽</p>
        <div class="quantity-selector">
            <span class="quantity">1 шт</span>
        </div>
        <p class="slot__sum span-11">490 ₽</p>
        <button class="red-square-button"></button>
    </div>
</div>