:root{
    --container: 0px 50px;
}

.content {
    flex: 1;
}

.container-md{
    padding: var(--container);
}

.nav{
    padding: 52px 50px;
    position: sticky;
    top: 0;
    justify-content: space-between;

    &__profile {
        display: flex;
        gap: 40px;

        @media (max-width: 1450px) {
            margin-left: auto;
        }
    }

    @media (max-width: 1450px) {
        justify-content: start;
    }
}

.footer{
    background-color: black;
    &__links{
        display: flex;
        gap: 50px;
        margin: auto;
    }
    &__text{
        color: white;
        font-size: 12px;
        &--lg{
            font-size: 20px;
        }
    }
    &__content-right{
        display: flex;
        gap: 50px;
        align-items: center;
    }
    &__content-top{
        display: flex;
        padding: 50px 0px;
        border-bottom: 1px solid gray;
        align-items: center;
    }
    &__content-bottom{
        display: flex;
        justify-content: space-between;
        padding: 28px 0;
    }
    &__logo{
        width: 135px;
        height: 24px;
    }
}

.icon {
    width: 29px;
    fill: white;
    cursor: pointer;

    &:hover {
        fill: #FBD13E;
    }
    &--small-w {
        width: 25px;
    }
}