<div class="content">
	<div class="container">
		<div class="nav">
			<img class="logo" src="../assets/logo.png" alt="#!">
			<ul class="menu">
				<li class="menu__item">Акции🔥</li>
				<li class="menu__item">Горячее</li>
				<li class="menu__item">Холодное</li>
				<li class="menu__item">Свежая выпечка</li>
				<li class="menu__item">Десерты</li>
				<li class="menu__item">Напитки</li>
			</ul>
			<div class="nav__profile">
				<img src="../assets/search.png" alt="">
				<img src="../assets/profile.png" alt="">
				<img src="../assets/basket.png" alt="">
			</div>
		</div>
		<app-basket></app-basket>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="footer__content-top">
			<img class="footer__logo" src="../assets/logo.png" alt="#!">
			<ul class="footer__links">
				<li>Обратная связь</li>
				<li>Доставка</li>
				<li>Оплата</li>
				<li>Контакты</li>
			</ul>
				<div class="footer__content-right">
					<p class="footer__text footer__text--lg">+7 (499) 841-67-29</p>
					<p class="footer__text">email.ru</p>
				</div>
		</div>
		<div class="footer__content-bottom">
			<p class="footer__text">&copy;&nbsp;2009-2019, ООО &laquo;MIDAS&raquo;, официальный сайт</p>
			<div class="d-flex gap-5">
				<a class="footer__text" href="">Политика конфиденциальности и&nbsp;оферта&lt;</a>
				<a class="footer__text" href="">Пользовательское соглашение</a>
			</div>
		</div>
	</div>
</footer>
